*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}
body{
    background-color: tan;
}
.div-1{
    background-color: rgb(133, 112, 86);
    border: 2px solid;
    margin-top:10px ;
    padding-bottom: 18px;
    padding: 10rem;
    margin-left: 50px;
    margin-right: 50px;
}
.div-2{
    background-color: rgb(240, 204, 149);
    border: 2px solid;
    text-align: center;
    padding: 30px;

}
.img-1{
    width: 200px;
}
.google-link{
    text-decoration: none;
    color: black;
}
hr{
    background-color: #000000;
    border:1px solid;
}